// 
//  contact 
// 


.contact {
  background-color: $black;
  background-image: url(../images/contact.jpg);
  background-size: cover;
  .bg-overlay {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.8);
  }
  .card {
    background: transparent;
    border: none;
    .social-list {
      position: relative;
      padding-left: 130px;
      color: $white;
      &::before {
        content: "";
        position: absolute;
        border-radius: 3px;
        left: -12px;
        bottom: 0;
        top: 0;
        width: 114px;
        height: 48px;
        background-color: rgba($primary, 1);
        clip-path: polygon(0 0, 73% 0, 100% 48%, 100% 100%, 0 100%);
      }
      .card-text {
        position: relative;
        font-size: 12px;
        align-items: baseline;
        z-index: 1;
        &::before {
          content: "";
          position: absolute;
          border-radius: 3px;
          right: 74px;
          top: -5px;
          bottom: 0;
          top: -5px;
          width: 410px;
          height: 30px;
          background-color: rgba($black, 1);
          z-index: -1;
        }
      }
    }
  }
  .contact-form {
    .input-group-text {
        padding: 12px 15px;
        border: none;
        font-size: 18px;
        background-color: rgba($primary, 1);
        position: absolute;
        color: $white;
        top: 0;
        z-index: 1;
        bottom: 0;
      }
      .form-control {
        padding: 12px 20px;
        padding-left: 58px;
        display: block;
        width: 100%;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        border: none;
        border-bottom: 1px solid rgba($light, 0.5);
        background-color: $black;
        color: rgba($white, 1);
        &::placeholder {
          color: rgba($white, 0.5);
        }
        &:focus {
          box-shadow: none;
        }
    }
  }
}

@media (max-width: 768px) { 
  .contact {
    .card {
      .social-list {
        .card-text {
          &::before {
            background: none;
          }
        }
      }
    }
  }
}