
// 
// cta
// 

.cta {
    background: linear-gradient(to right, #265b7e, #181e23);
    &::before {
        content: "";
        background-image: url("../images/cta-bg.png");
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: left;
        opacity: 0.5;
    }
}

// 
//  cta-2
// 

.cta-2 {
    background-image: url(../images/contact.jpg);
    background-size: cover;
    .cta-heading {
        color: $white;
        font-weight: 600;
        font-size: 52px;
    }
    .cta-text {
        color: $white;
        font-size: 19px;
    }
}