//
// variables.scss
//

// fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@500;700&display=swap');

//color
$primary:   #4baae9;
$success:   #00776d;
$info:      #49c6e5;
$warning:   #fb8916;
$danger:    #ef4b4b;
$white:     #ffffff;
$dark:      #263350;
$light:     #bbbaba;
$muted:     #839393;
$black:     #000000;
$purple:    #36394a;
$cyan:      #00e6e6;
$blue:      #3083DC;
$pink:      #f13e74;
$secondary: #727272;

// stylelint-disable
$gray-100:  #f8f9fa;
$gray-200:  #e9ecef;
$gray-300:  #dee2e6;
$gray-400:  #ced4da;
$gray-500:  #adb5bd;
$gray-600:  #6c757d;
$gray-700:  #495057;
$gray-800:  #343a40;
$gray-900:  #212529;

// stylelint-disable
$gray-dark-100:  #323945;
$gray-dark-200:  #343a40;
$gray-dark-300:  #495057;
$gray-dark-400:  #6c757d;
$gray-dark-500:  #adb5bd;
$gray-dark-600:  #ced4da;
$gray-dark-700:  #dee2e6;
$gray-dark-800:  #e9ecef;
$gray-dark-900:  #f8f9fa;

$colors: (
  "primary":  $primary,
  "success":  $success,
  "info":     $info,
  "warning":  $warning,
  "danger":   $danger,
  "dark":     $dark,
  "cyan":     $cyan,
  "blue":     $blue,
  "muted":    $muted,
  "purple":   $purple,
  "pink":     $pink,
  "light":    $light,
  "white":    $white,
);

$theme-colors: (
  "primary":  $primary,
  "success":  $success,
  "info":     $info,
  "warning":  $warning,
  "danger":   $danger,
  "light":    $light,
  "dark":     $dark,
  "muted":    $muted,
  "white":    $white,
);

//box-shadow
$box-shadow:              rgba($black, 0.05) 0px 8px 24px;

// font weight
$font-weight-medium: 500;
$font-weight-semibold: 600;

// font-family
$font-family-base:        'Poppins', sans-serif;
